<%- include('./partials/header.ejs') %>

<div class="px-4 py-5 my-5 text-center" id ="aboutPage">
	<h1 class="display-5 fw-bold text-body-emphasis">About Me</h1>
	<div class="col-lg-6 mx-auto">
		<p class="lead mb-4">
			I earned my Bachelor of Science in Computer Science from the University of
			Mumbai in 2022. Seeking better educational and career opportunities, I
			relocated to Canada and completed a qualification in computer information
			systems at the University of the Fraser Valley. Currently, I work as a
			desktop support specialist at CompuCom, but I am actively looking to
			transition into a web developer role.
		</p>
	</div>
</div>

<%- include('./partials/footer.ejs') %>
