<%- include('./partials/header.ejs') %>

<div class="px-4 py-5 my-5 text-center">
	<h1 class="display-5 fw-bold text-body-emphasis">About Me</h1>
	<div class="col-lg-6 mx-auto">
		<p class="lead mb-4">
			My Bachelor of Science in Computer Science from the University of Mumbai
			was awarded to me in 2022. I relocated to Canada to attend the University
			of the Fraser Valley in pursuit of better educational and career
			opportunities.where I received my qualification in computer information
			systems. Right now, I work as a desktop support specialist for CompuCom.
			I'm looking for a position to transition into a web developer at the same
			time.
		</p>
	</div>
</div>

<%- include('./partials/footer.ejs') %>
