<%- include('./partials/header.ejs') %>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h1>Contact</h1>
			<p>
				I'm always open to discussing new projects, creative ideas, or
				opportunities to be part of your vision. Feel free to reach out to me
				via the contact methods below. Email: vinit.sonawane@example.com
			</p>
			<p>
				You can reach me via email at
				<a
					href="https://mail.google.com/mail/?view=cm&fs=1&to=vinit.sonawane00@gmail.com"
					target="_blank">
					vinit.sonawane00@gmail.com
				</a>
			</p>
			<p>
				You can also find me on
				<a href="https://linkedin.com/in/vinito7" target="_blank">LinkedIn</a>
				and <a href="https://github.com/VinitO1" target="_blank">GitHub</a>.
			</p>
		</div>
	</div>
</div>
<style>
	a {
		text-decoration: none;
	}
</style>
<%- include('./partials/footer.ejs') %>
