<%- include('./partials/header.ejs') %>

<div class="container col-xxl-8 px-4 py-5" id="Home">
	<h1 class="text-body-emphasis">My projects</h1>
	<p class="lead">
		<em
			>Here are some of the projects I have worked on checkout more on
			<a href="https://github.com/VinitO1">GitHub</a></em
		>
	</p>
</div>
<div class="container col-xxl-8 px-4 py-5" id="Projects">
	<div
		id="projectTitle"
		class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
		<h1 class="text-body-emphasis">Riddles Game</h1>
		<p class="col-lg-6 mx-auto mb-4">
			The Riddle app is a simple Express.js server application. It uses the
			Node.js, Express , EJS, Axios. The app is a simple riddle game where the
			user can guess the answer to a riddle. The app will display a riddle and
			the user can guess the answer. The app will then display the correct
			answer and the user can click a button to get a new riddle.
		</p>
		<a href="https://riddles-xdwk.onrender.com">
			<button id="projectLinks" class="btn btn-primary px-5 mb-5" type="button">
				Open
			</button>
		</a>
	</div>
	<br />
	<div
		id="projectTitle"
		class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
		<h1 class="text-body-emphasis">Blog App</h1>
		<p class="col-lg-6 mx-auto mb-4">
			This application is a dynamic web server built with Node.js and
			Express.js. It features multiple pages including a homepage, about page,
			contact page, and a compose page. The homepage displays a list of
			user-generated posts. The compose page allows users to create new posts,
			which are then added to the homepage.
		</p>
		<a href="https://vinits-blog-app.onrender.com">
			<button id="projectLinks" class="btn btn-primary px-5 mb-5" type="button">
				Open
			</button>
		</a>
	</div>
	<br />
	<div
		id="projectTitle"
		class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
		<h1 class="text-body-emphasis">Todo List</h1>
		<p class="col-lg-6 mx-auto mb-4">
			This project is a Web application made using Node js and Express js. You
			can add <em>/work</em> at end of the main route and access the work list.
			which works independently from the main list. and you can have a 2
			different list for work and home.
		</p>
		<a href="https://todo-app-udgd.onrender.com">
			<button id="projectLinks" class="btn btn-primary px-5 mb-5" type="button">
				Open
			</button>
		</a>
	</div>
</div>
<%- include('./partials/footer.ejs') %>
