<%- include('./partials/header.ejs') %>

<div class="container col-xxl-8 px-4 py-5" id="Home">
	<h1 class="text-body-emphasis">My projects</h1>
	<p class="lead">
		<em
			>Here are some of the projects I have worked on checkout more on
			<a href="https://github.com/VinitO1">GitHub</a></em
		>
	</p>
</div>
<div class="container col-xxl-8 px-4 py-5" id="Projects">
	<div
		id="projectTitle"
		class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
		<h1 class="text-body-emphasis">Riddles Game</h1>
		<p class="col-lg-6 mx-auto mb-4">
			The Riddle app is a simple Express.js server application. It uses the
			Node.js, Express , EJS, Axios. The app will display a riddle and the user
			can guess the answer. The app will then display the correct answer and the
			user can click a button to get a new riddle.
		</p>
		<a href="https://riddles-xdwk.onrender.com">
			<button id="projectLinks" class="btn btn-primary px-5 mb-5" type="button">
				Open
			</button>
		</a>
	</div>
	<br />
	<div
		id="projectTitle"
		class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
		<h1 class="text-body-emphasis">Blog App</h1>
		<p class="col-lg-6 mx-auto mb-4">
			The application allows users to create, view, and manage blog posts.
			Implemented RESTAPI for user to edit and delete a post in the future.
			Enhanced user experience by providing Dynamic rendering for different
			pages.
		</p>
		<a href="https://vinits-blog-app.onrender.com">
			<button id="projectLinks" class="btn btn-primary px-5 mb-5" type="button">
				Open
			</button>
		</a>
	</div>
	<br />
	<div
		id="projectTitle"
		class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
		<h1 class="text-body-emphasis">Jewelry Store</h1>
		<p class="col-lg-6 mx-auto mb-4">
			This is the front-end part of the website getting rendered dynamically
			using Nodejs, Express.js and EJS. where every part of the website is
			accessible and now, I am working on connecting it with Postgres and
			learning Authentication.
		</p>
		<a href="https://e-commerce-0iru.onrender.com">
			<button id="projectLinks" class="btn btn-primary px-5 mb-5" type="button">
				Open
			</button>
		</a>
	</div>
</div>
<%- include('./partials/footer.ejs') %>
