body {
	background-color: #000000; /* Black background */
	color: #ffffff; /* White text */
}

/* This will make sure your links are also white */
a {
	color: #ffffff;
}

/* This will make sure your button text is also white */
.btn {
	color: #ffffff;
}

/* This will make sure your headings are also white */
h1 {
	color: #ffffff !important;
}

h1.text-body-emphasis {
	color: #ffffff !important; /* White text */
}

footer span {
	color: #ffffff !important;
}

#projectTitle {
	background-color: #5a72a0 !important;
	color: #ffffff !important;
}
#projectLinks {
	background-color: #e4c59e;
}
#contact-page {
	font-family: 'Times New Roman', Times, serif;
	font-size: 25px;
}
#aboutPage {
	font-family: 'Times New Roman', Times, serif;
	font-size: 25px;
}
